{% extends 'base/base.html.twig' %}
{% block body %}
 <div class = "row">
          <div class = "col-md-12">
    <table class="table table-hover">
 <thead>
     <tr>
      <th scope="col">Priority</th>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Deadline</th>
      <th scope="col">Remaining time</th>
      <th scope="col" colspan ="3">Edit</th>
    </tr>
  </thead>
  <tbody>
    <!--<tr class = "deadline">
      <td><i class="fas fa-fire fa-2x"></i></td>
      <th scope="row">1</th>
      <td>Написать другу</td>
      <td>24.01.2018 13.45</td>
      <td>27.01.2018 13.45</td>
      <td>12:35:60</td>
       <td>
           <button type="button" class="btn show"> <i class="fas fa-eye"></i></button>
          <button type="button" class="btn edit"> <i class="far fa-edit"></i></button>
          <button type="button" class="btn delete"> <i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
    <tr class = "deadline">
      <td><i class="fas fa-fire fa-2x"></i></td>
      <th scope="row">2</th>
      <td>Доделать todolist</td>
      <td>24.01.2018 13.45</td>
      <td>27.01.2018 13.45</td>
      <td>12:35:60</td>
       <td>
           <button type="button" class="btn show"><i class="fas fa-eye"></i></button>
          <button type="button" class="btn edit"><i class="far fa-edit"></i></button>
          <button type="button" class="btn delete"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
    <tr class = "okay">
      <td><i class="fas fa-leaf fa-2x"></td>
      <th scope="row">3</th>
      <td>Сделать реферат</td>
      <td>24.01.2018 13.45</td>
      <td>12.01.2018 12.14</td>
      <td>12:35:60</td>
       <td>
          <button type="button" class="btn show"><i class="fas fa-eye"></i></button>
          <button type="button" class="btn edit"><i class="far fa-edit"></i></button>
          <button type="button" class="btn delete"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
    <tr class = "danger">
      <td><i class="fas fa-clock fa-2x"></td>
      <th scope="row">4</th>
      <td>Выбросить мусор</td>
      <td>24.01.2018 13.45</td>
      <td>28.01.2018 13.45</td>
      <td>12:35:60</td>
       <td>
          <button type="button" class="btn show"><i class="fas fa-eye"></i></button>
          <button type="button" class="btn edit"><i class="far fa-edit"></i></button>
          <button type="button" class="btn delete"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>-->

  
  {% for task in tasks %}
    {% set cattitle = task.cat_title %}
    {% set task = task[0] %}
    <tr class = "danger" id = "{{task.id}}">
      <td><!--<i class="fas fa-clock fa-2x">-->
            
           {% if task.priority == 1 %}
              <i class="fas fa-fire fa-2x">
           {% endif %}
            {% if task.priority == 2 %}
              <i class="fas fa-clock fa-2x">
           {% endif %}
            {% if task.priority == 3 %}
              <i class="fas fa-leaf fa-2x">
           {% endif %}
      </td>
      <th scope="row">{{task.id}}</th>
      <td>{{task.Title}}</td>
      <td>
           
          {{cattitle}}
          {# {{task.created  | date ("d.m.Y h:m:s")}} #}
      </td>
      <td>{{task.deadline | date ("d.m.Y h:m:s")}}</td>
      <td>{# endDate and startDate are strings or DateTime objects #}
          {% set difference = date(task.deadline).diff(date(now)) %}
          {% set leftDays = difference.days %}
        
          {% if leftDays == 1 %}
             {{difference | date ('%d день %H:%I:%S')}}
          {% else %}
             {{difference | date ('%d дней %H:%I:%S')}}
          {% endif %}

          
      </td>
       <td>
          <a href = "/show/{{task.id}}"><button type="button" class="btn show"><i class="fas fa-eye"></i></button></a>
       </td>
       <td>
          <a href = "/edit/{{task.id}}"><button type="button" class="btn edit"><i class="far fa-edit"></i></button></a>
      </td>
      <td>
          <button type="button" class="btn delete" data-toggle="modal"> <i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
     
    <!--
    <tr>
      <th scope="row">4</th>
     
    </tr>
    -->
  {% endfor %}

    </tbody>
  </table>
  </div>
</div>
  {% include 'modals/modal_delete.html.twig' %}
{% endblock %}

